# Code along -Pandas

In [3]:
import pandas as pd


data = {"INKÖP": 25, "OPA":29,"34":27}
series = pd.Series(data)

series

INKÖP    25
OPA      29
34       27
dtype: int64

In [4]:
series.iloc[1], series.iloc[-1]

(29, 27)

In [5]:
series.keys()

Index(['INKÖP', 'OPA', '34'], dtype='object')

In [6]:
series["OPA"]

29

### DataFrames

In [7]:
df_programs = pd.DataFrame(series, columns=["Number students"])
df_programs

       Number students
INKÖP               25
OPA                 29
34                  27

In [8]:
df_programs["Number students"]

INKÖP    25
OPA      29
34       27
Name: Number students, dtype: int64

In [9]:
df_programs = pd.DataFrame({"Students":[25,30,30,27], "Language":["Python","C#","Kotlin","Java"]}, 
index =["AI",".NET","APP","Java"],

 )

df_programs

      Students Language
AI          25   Python
.NET        30       C#
APP         30   Kotlin
Java        27     Java

In [11]:
df_programs.index

Index(['AI', '.NET', 'APP', 'Java'], dtype='object')

In [12]:
df_programs["Language"]

AI      Python
.NET        C#
APP     Kotlin
Java      Java
Name: Language, dtype: object

In [13]:
df_programs["Students"]

AI      25
.NET    30
APP     30
Java    27
Name: Students, dtype: int64

In [14]:
df_programs["Language"][".NET"]

'C#'

### Filtering with mask

In [15]:
# find all programs with less than 28 students
# mask -> boolean series
df_programs["Students"] < 28

AI       True
.NET    False
APP     False
Java     True
Name: Students, dtype: bool

In [16]:
df_programs[df_programs["Students"] < 28]

      Students Language
AI          25   Python
Java        27     Java

### Read from excel

In [22]:
import pandas as pd
df = pd.read_excel("../data/calories (3).xlsx")
df

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ
3,CannedFruit,Canned Blueberries,100g,88 cal,370 kJ
4,CannedFruit,Canned Cherries,100g,54 cal,227 kJ
...,...,...,...,...,...
2220,Spreads,Sunflower Butter,100g,617 cal,2591 kJ
2221,Spreads,Tapenade,100g,233 cal,979 kJ
2222,Spreads,Unsalted Butter,100g,717 cal,3011 kJ
2223,Spreads,Vegemite,100g,180 cal,756 kJ
2224,Spreads,Wild Honey,100g,286 cal,1201 kJ

In [26]:
df.head()

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ
3,CannedFruit,Canned Blueberries,100g,88 cal,370 kJ
4,CannedFruit,Canned Cherries,100g,54 cal,227 kJ

### EDA - Exploratory data analysis

In [27]:
# to get general information of our dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FoodCategory      2225 non-null   object
 1   FoodItem          2225 non-null   object
 2   per100grams       2225 non-null   object
 3   Cals_per100grams  2225 non-null   object
 4   KJ_per100grams    2225 non-null   object
dtypes: object(5)
memory usage: 87.0+ KB